/* About Styling */

#about-page {
    background-color: #EFEFEF;
    margin: 0;
    padding: 0;
    min-height: 100vh;
  }
  
  .about-topic {
    text-align: right;
  }
  

  /* Job Points View Port Styling */
  @media (max-width: 900px) {
    .aboutcontent-responsive {
         margin-right:30px;
         margin-left: 30px;
      }
    .abouttitle-responsive{
      margin-right:30px;
    }
    .aboutstart-responsive{
      margin-left: 30px;
    }
  }
  @media (max-width: 700px) {
    .aboutcontent-responsive {
         font-size: small;
      }
  }
  @media (max-width: 500px) {
    .aboutcontent-responsive {
         font-size: smaller;
      }
    .abouttitle-responsive{
        font-size: large;
      }
  }
  @media (max-width: 400px) {
    .aboutcontent-responsive {
         font-size: x-small;
      }
  }
  @media (max-width: 350px) {
    .abouttitle-responsive{
      font-size: medium;
    }
  }
  @media (max-width: 310px) {
    .aboutcontent-responsive {
         font-size: xx-small;
      }
    .abouttitle-responsive{
        font-size: small;
      }
  }
/* Job Points View Port Styling */