/* Resume page Styling */

#resume-page {
    background-color: #EFEFEF;
    margin: 0;
    padding: 0;
    min-height: 100vh;
  }

  #resume-hero {
    margin-bottom: 200px;
  }

  #resume-col-1 {
    height: 500px;
    padding: 0px;
  }

  #resume-col-2{
    height: 500px;
    padding: 0px;
  }

  #resume-card-title{
    height: 500px;
    width: 100%;
  }


  @media (max-width: 600px) {
    .text-responsive {
         font-size: x-large;
         /* color: red; */
      }
  }

@media (max-width: 485px) {
    .text-responsive {
         font-size: large;
         /* color:green; */
      }
  }
   
  @media (max-width: 395px) {
    .text-responsive {
         font-size: medium;
         /* color:blue; */
      }
  }

  @media (max-width: 360px) {
    .text-responsive {
         font-size: small;
         /* color:blue; */
      }
  }

  @media (max-width: 280px) {
    .text-responsive {
         font-size: x-small;
         /* color:yellow; */
      } 
  }
