/* Resume page Styling */

#resume-page {
    background-color: #EFEFEF;
    margin: 0;
    padding: 0;
    min-height: 100vh;
  }

  #resume-hero {
    margin-bottom: 200px;
  }

  #resume-col-1 {
    height: 500px;
    padding: 0px;
  }

  #resume-col-2{
    height: 500px;
    padding: 0px;
  }

  #resume-card-title{
    height: 500px;
    width: 100%;
  }

 

 
  @media (max-width: 660px) {
    .list-responsive {
         font-size: small;
      }
  }

@media (max-width: 575px) {
  .list-responsive {
         font-size: x-small;

      }
  }
 
  @media (max-width: 500px) {
    .list-responsive {
         font-size: xx-small;
      }
  }
/*
  @media (max-width: 400px) {
    #list-responsive {
         font-size: xx-small;
         background-color:blue;
      }
  }

  @media (max-width: 280px) {
    #list-responsive {
         font-size: x-small;
         background-color:yellow;
      } 
  } */
