/* Resume page Styling */

#resume-page {
    background-color: #EFEFEF;
    margin: 0;
    padding: 0;
    min-height: 100vh;
  }

  #resume-hero {
    margin-bottom: 200px;
  }

  #resume-col-1 {
    height: 500px;
    padding: 0px;
  }

  #resume-col-2{
    height: 500px;
    padding: 0px;
  }

  #resume-card-title{
    height: 500px;
    width: 100%;
  }

 .list-responsive {
   padding: 0
 }

 
  @media (max-width: 560px) {
    .list-responsive {
         font-size: small;
      }
  }

 @media (max-width: 480px) {
  .list-responsive {
         font-size: x-small;

      }
  }

  @media (max-width: 400px) {
    .list-responsive {
         font-size: xx-small;
      }
  }

  @media (max-width: 375px) {
    .list-responsive {
         font-size: .5em;
      }
  }

/* 
  @media (max-width: 900px) {
    #testing {
     
         color: red;
         padding: 0px;

      }
  } */


  @media (max-width: 900px) {
    .job-responsive {
         font-size: small;
      }
  }

  @media (max-width: 700px) {
    .job-responsive {
         font-size: smaller;
      }
  }

  @media (max-width: 600px) {
    .job-responsive {
         font-size: x-small;
      }
  }


  @media (max-width: 470px) {
    .job-responsive {
         font-size: xx-small;
      }
  }


  @media (max-width: 375px) {
    .job-responsive {
         font-size: .5em;
      }
  }