

/* @media (max-width: 1238px) {
  
  
    .text-responsive {
        font-size: xx-large;
      }
  
    
} */

/* @media (max-width: 540px) {
  
  
  .text-responsive {
       font-size: xx-small;
       color: red
    }

  
} */


/* 
@media screen and (max-width: 450px) {
  
  
    .text-responsive {
        font-size: calc(75% + .1vw + .1vh);
      }
  
    
} */