



.slider {
  background: linear-gradient(rgb(0, 0, 0), #2a2a2a, #5b5b5b, #818181, #818181, #5b5b5b, #2a2a2a, rgb(0, 0, 0));
  color: white;
  text-shadow: 3px 3px 3px black;
}

/* Slider-Title View Port Styling */
@media (max-width: 560px) {
  .slidertitle-responsive {
       font-size: medium;
    }
}
@media (max-width: 480px) {
  .slidertitle-responsive {
       font-size: 17px;
    }
}
@media (max-width: 400px) {
  .slidertitle-responsive {
       font-size: 14px;
    }
}
@media (max-width: 275px) {
  .slidertitle-responsive {
       font-size: 10px;
    }
}
/* Slider-Title View Port Styling */


/* Slider-Content View Port Styling */
@media (max-width: 560px) {
  .slidercontent-responsive {
       font-size: small;
    }
}
@media (max-width: 480px) {
  .slidercontent-responsive {
       font-size: x-small;

    }
}
@media (max-width: 400px) {
  .slidercontent-responsive {
       font-size: xx-small;
    }
}
@media (max-width: 375px) {
  .slidercontent-responsive {
       font-size: .5em;
    }
}
/* Slider-Content View Port Styling */